$black: black;
$white: white;
$gray: dimgray;

div {
  background-color: red;
  display: flex;
  flex-flow: row;
}

:root {
  margin: 0;
  padding: 0;
  font-family: ARS Maquette,Helvetica Neue,Arial,sans-serif;
  font-size: 14px;
  color: $black;
}

body {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

header {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .black-bar {
    display: none;
    background: $black;
  }

  .white-bar {
    background: $white;

    .left-items {
      justify-self: start;
    }

    .right-items {
      display: flex;
      flex-flow: row;
      justify-self: end;

      %icons {
        padding: 16px;
        width: 16px;
        height: 16px;
      }

      .glass {
        @extend %icons;
        background-color: blue;
      }

      .bars {
        @extend %icons;
        background-color: skyblue;
      }
    }
  }
}

%grid-flexbox {
  display: flex;
  flex-flow: column;
  padding: 4px;
}

.grid1 {
  @extend %grid-flexbox;

  %cell-style {
    margin: 4px 0;
    background-position: center;
    background-size: cover;
    display: flex;

    .gradient {
      color: $white;
      min-height: 30vh;
      width: 100%;
      background: linear-gradient(to top, $black 10%, transparent);
      position: relative;

      .text-box {
        flex-direction: column;
        position: absolute;
        bottom: 0;

        a {
          color: $white;
          margin-bottom: 5px;
          h1 {
            font-weight: bolder;
            margin: 5px 0;
          }
        }
        h6 {
          margin: 5px;
        }
      }
    }
  }

}


.car {
  @extend %cell-style;
  background-image: url("assets/car-bg-img.jpg");
}

.nintendo {
  @extend %cell-style;
  background-image: url("assets/nintendo.png");

}

.city {
  @extend %cell-style;
  background-image: url("assets/boston.jpg");
}


.wrapper {
  width: 100%;
  background-color: pink;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.grid2 {
  @extend %grid-flexbox;

  .title {
    margin-bottom: 24px;
    height: 30px;
  }

  .card {
    padding: 10px;
  }
}

.spacer {
  display: none;
}

.grid3 {
  @extend %grid-flexbox;
}

footer {
  .gray {
    background: $gray;
  }

  .black {
    background: $black;
  }
}

