$black: black;
$white: white;
$gray: dimgray;

div {
  background-color: red;
  opacity: 80%;
}

:root {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

header {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .black-bar {
    display: none;
    background: $black;
  }

  .white-bar {
    background: $white;

    .left-items {
      justify-self: start;
    }

    .right-items {
      display: flex;
      flex-flow: row;
      justify-self: end;

      %icons {
        padding: 16px;
        width: 16px;
        height: 16px;
      }

      .glass {
        @extend %icons;
        background-color: blue;
      }

      .bars {
        @extend %icons;
        background-color: skyblue;
      }
    }
  }
}

%grid-flexbox {
  display: flex;
  flex-flow: column;
  padding: 4px;
}

.grid1 {
  @extend %grid-flexbox;

  %item-position {
    left: 4px;
    right: 4px;
    top: 4px;
    bottom: 4px;
  }

  .car {
    @extend %item-position;
  }

  .house {
    @extend %item-position;
  }

  .tree {
    @extend %item-position;
  }
}

.wrapper {
  width: 100%;
  background-color: pink;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.grid2 {
  @extend %grid-flexbox;

  .title {
    text-decoration: none;

    h1 {
      color: red;
      margin: 0 0 24px;
      height: 30px;
    }
  }

  .card {
    padding: 10px;
  }

}

.spacer {
  display: none;
}

.grid3 {
  @extend %grid-flexbox;
}

footer {
  .gray {
    background: $gray;
  }

  .black {
    background: $black;
  }
}

