div {
  background-color: red;
  opacity: 80%;
  display: flex;
}

a {
  text-decoration: none;
  display: flex;
  flex-flow: row;
}

:root {
  margin: 0;
  padding: 0;
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  color: black;
}

body {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0;
  max-width: 560px;
}

.spacer4 {
  margin: 25px;
}

header {
  max-width: 600px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}
header nav {
  flex-direction: row;
}
header .black-bar {
  display: none;
  background: black;
}
header .white-bar {
  background: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
header .white-bar .left-items ul {
  display: none;
}
header .white-bar .left-items .image-left {
  width: 106px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #000;
}
header .white-bar .left-items .image-left:hover {
  background: url(assets/animation-background.gif);
}
header .white-bar .left-items img {
  width: 100%;
}
header .white-bar .right-items .bars, header .white-bar .right-items .glass {
  padding: 16px;
  width: 16px;
  height: 16px;
}
header .white-bar .right-items .glass {
  background-color: blue;
}
header .white-bar .right-items .bars {
  background-color: skyblue;
}

.grid3, .grid2, .grid1 {
  display: flex;
  flex-flow: column;
  padding: 4px;
}

.grid1 .city, .grid1 .nintendo, .grid1 .car {
  margin: 4px 0;
  background-position: center;
  background-size: cover;
  display: flex;
}
.grid1 .city .gradient, .grid1 .nintendo .gradient, .grid1 .car .gradient {
  color: white;
  min-height: 30vh;
  width: 100%;
  background: linear-gradient(to top, black 10%, transparent);
  position: relative;
}
.grid1 .city .gradient .text-box, .grid1 .nintendo .gradient .text-box, .grid1 .car .gradient .text-box {
  flex-direction: column;
  position: absolute;
  bottom: 0;
}
.grid1 .city .gradient .text-box a, .grid1 .nintendo .gradient .text-box a, .grid1 .car .gradient .text-box a {
  color: white;
  margin-bottom: 5px;
}
.grid1 .city .gradient .text-box a h1, .grid1 .nintendo .gradient .text-box a h1, .grid1 .car .gradient .text-box a h1 {
  font-weight: bolder;
  margin: 5px 0;
}
.grid1 .city .gradient .text-box h6, .grid1 .nintendo .gradient .text-box h6, .grid1 .car .gradient .text-box h6 {
  margin: 5px;
}

.car {
  background-image: url("assets/car-bg-img.jpg");
}

.nintendo {
  background-image: url("assets/nintendo.png");
}

.city {
  background-image: url("assets/boston.jpg");
}

.wrapper {
  width: 100%;
  background-color: pink;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.grid2 .title {
  text-decoration: none;
}
.grid2 .title h1 {
  color: red;
  margin: 0 0 24px;
  height: 30px;
}
.grid2 .card8, .grid2 .card7, .grid2 .card6, .grid2 .card5, .grid2 .card4, .grid2 .card3, .grid2 .card2, .grid2 .card1 {
  padding: 10px;
  display: flex;
  height: 75px;
}
.grid2 .card8 .picture, .grid2 .card7 .picture, .grid2 .card6 .picture, .grid2 .card5 .picture, .grid2 .card4 .picture, .grid2 .card3 .picture, .grid2 .card2 .picture, .grid2 .card1 .picture {
  width: 75px;
  height: 100%;
  margin-right: 20px;
  background-size: cover;
  background-position: center;
}
.grid2 .card8 .text, .grid2 .card7 .text, .grid2 .card6 .text, .grid2 .card5 .text, .grid2 .card4 .text, .grid2 .card3 .text, .grid2 .card2 .text, .grid2 .card1 .text {
  max-width: 80%;
  flex-flow: column;
}
.grid2 .card8 a h3, .grid2 .card7 a h3, .grid2 .card6 a h3, .grid2 .card5 a h3, .grid2 .card4 a h3, .grid2 .card3 a h3, .grid2 .card2 a h3, .grid2 .card1 a h3 {
  color: black;
  margin: 0;
}
.grid2 .card8 footer, .grid2 .card7 footer, .grid2 .card6 footer, .grid2 .card5 footer, .grid2 .card4 footer, .grid2 .card3 footer, .grid2 .card2 footer, .grid2 .card1 footer {
  display: flex;
  padding-top: 5px;
}
.grid2 .card8 footer h5, .grid2 .card7 footer h5, .grid2 .card6 footer h5, .grid2 .card5 footer h5, .grid2 .card4 footer h5, .grid2 .card3 footer h5, .grid2 .card2 footer h5, .grid2 .card1 footer h5 {
  margin: 0 5px 0 0;
  color: darkgrey;
}
.grid2 .card1 .picture {
  background-image: url("assets/slack.jpg");
}
.grid2 .card2 .picture {
  background-image: url("assets/Playstation.jpg");
}
.grid2 .card3 .picture {
  background-image: url("assets/phones.png");
}
.grid2 .card4 .picture {
  background-image: url("assets/blackphone.jpg");
}
.grid2 .card5 .picture {
  background-color: blue;
}
.grid2 .card6 .picture {
  background-image: url("assets/monkeys.png");
}
.grid2 .card7 .picture {
  background-color: blue;
}
.grid2 .card8 .picture {
  background-image: url("assets/morephones.jpg");
}

.spacer {
  display: none;
}

footer .gray {
  background: dimgray;
}
footer .black {
  background: black;
}

@media only screen and (min-width: 601px) {
  header .black-bar {
    display: flex;
  }
  header .black-bar .menu-black ul {
    list-style-type: none;
    align-self: center;
  }
  header .black-bar .menu-black ul li {
    float: left;
    padding: 5px;
  }
  header .black-bar .menu-black ul li a {
    display: block;
    text-decoration: none;
    color: #d3d3d3;
  }
  header .black-bar .menu-black ul li a:hover {
    color: #fff;
  }
  header .white-bar .bars {
    display: none;
  }
  header .white-bar .left-items ul {
    list-style-type: none;
    align-self: center;
  }
  header .white-bar .left-items ul li {
    float: left;
    padding: 5px;
  }
  header .white-bar .left-items ul li a {
    display: block;
    text-decoration: none;
    color: #aaa;
    margin-left: 15px;
  }
  header .white-bar .left-items ul li a:hover {
    color: #000;
  }

  .grid1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "car nintendo" "car city";
    gap: 4px 4px;
  }
  .grid1 .car {
    grid-area: car;
  }
  .grid1 .nintendo {
    grid-area: nintendo;
  }
  .grid1 .city {
    grid-area: city;
  }

  .wrapper {
    max-width: 80%;
  }

  .grid2 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
  }
  .grid2 .title {
    grid-area: 1/1/span 1/span 4;
    margin-bottom: 24px;
    height: 30px;
  }

  .spacer1 {
    display: flex;
    margin: 52px;
  }

  .spacer2 {
    display: flex;
    margin: 15px;
  }

  .spacer3 {
    display: flex;
    margin: 134px;
  }

  .grid3 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
  }
  .grid3 .card {
    padding: 12px;
  }
}

/*# sourceMappingURL=widescreen.css.map */
