div {
  background-color: red;
  display: flex;
  flex-flow: row;
}

:root {
  margin: 0;
  padding: 0;
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  color: black;
}

body {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .black-bar {
  display: none;
  background: black;
}
header .white-bar {
  background: white;
}
header .white-bar .left-items {
  justify-self: start;
}
header .white-bar .right-items {
  display: flex;
  flex-flow: row;
  justify-self: end;
}
header .white-bar .right-items .bars, header .white-bar .right-items .glass {
  padding: 16px;
  width: 16px;
  height: 16px;
}
header .white-bar .right-items .glass {
  background-color: blue;
}
header .white-bar .right-items .bars {
  background-color: skyblue;
}

.grid3, .grid2, .grid1 {
  display: flex;
  flex-flow: column;
  padding: 4px;
}

.grid1 .city, .grid1 .nintendo, .grid1 .car {
  margin: 4px 0;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.grid1 .city .gradient, .grid1 .nintendo .gradient, .grid1 .car .gradient {
  color: white;
  min-height: 30vh;
  width: 100%;
  background: linear-gradient(to top, black 10%, transparent);
  flex-direction: column;
  align-content: flex-end;
  position: relative;
}
.grid1 .city .gradient .text-box, .grid1 .nintendo .gradient .text-box, .grid1 .car .gradient .text-box {
  flex-direction: column;
  position: absolute;
  bottom: 0;
}
.grid1 .city .gradient .text-box a, .grid1 .nintendo .gradient .text-box a, .grid1 .car .gradient .text-box a {
  text-decoration: none;
  color: white;
  margin-bottom: 5px;
}
.grid1 .city .gradient .text-box a h1, .grid1 .nintendo .gradient .text-box a h1, .grid1 .car .gradient .text-box a h1 {
  font-weight: bolder;
  margin: 5px 0;
}
.grid1 .city .gradient .text-box h6, .grid1 .nintendo .gradient .text-box h6, .grid1 .car .gradient .text-box h6 {
  margin: 5px;
}

.car {
  background-image: url("assets/car-bg-img.jpg");
}

.nintendo {
  background-image: url("assets/nintendo.png");
}

.city {
  background-image: url("assets/boston.jpg");
}

.wrapper {
  width: 100%;
  background-color: pink;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.grid2 .title {
  margin-bottom: 24px;
  height: 30px;
}
.grid2 .card {
  padding: 10px;
}

.spacer {
  display: none;
}

footer .gray {
  background: dimgray;
}
footer .black {
  background: black;
}

@media only screen and (min-width: 601px) {
  header .black-bar {
    display: flex;
  }
  header .white-bar .bars {
    display: none;
  }

  .grid1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "car nintendo" "car city";
    gap: 4px 4px;
  }
  .grid1 .car {
    grid-area: car;
  }
  .grid1 .nintendo {
    grid-area: nintendo;
  }
  .grid1 .city {
    grid-area: city;
  }

  .wrapper {
    max-width: 80%;
  }

  .grid2 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
  }
  .grid2 .title {
    grid-area: 1/1/span 1/span 4;
    margin-bottom: 24px;
    height: 30px;
  }

  .spacer1 {
    display: flex;
    margin: 52px;
  }

  .spacer2 {
    display: flex;
    margin: 15px;
  }

  .spacer3 {
    display: flex;
    margin: 134px;
  }

  .grid3 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
  }
  .grid3 .card {
    padding: 12px;
  }
}

/*# sourceMappingURL=widescreen.css.map */
